body {
  background: #fafafa;
  color: #333333;
  margin-top: 8rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* navigation bar */
#logo {
    background-image: url('pictures/eped-logo-header.png');
    background-size: contain; 
    background-repeat: no-repeat; /* dont show parts of a new logo*/
    display: inline-block;
    width: 100px;
    height: 50px; 
}

.navbar {
  background-color: #fafafa;
  border-bottom: 1px solid #8d9290;

}

.site-header .container .navbar-toggler{
  background-color: #327e2d;
}
.site-header .navbar-nav .nav-link {
  color: #444444;
  font-size: larger;
  font-weight: bold;
}

.site-header .navbar-nav .nav-link:hover {
  color: #327e2d; 
}

/* main content  */
.container .row{
  justify-content: center; /* Horizontally center the items */
}

/* search and results from search in home page */
.search-results ul {
  padding: 0; /* Remove default padding that causes an indent on list items in displayed results*/

}

.search-results .display-results {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align items with space between them */
  width: 50vw;
  background-color:#d7d7d750;
  border: 1px solid #9c9c9c; /* Add a 1px solid border around each result */
  padding: 10px; /* Add padding to create space around each result */
  margin-bottom: 10px; /* Add margin at the bottom to create space between results */
  border-radius: 10px;
}
.search-results .button-container{
  display: flex; 
}
.search-results .print-site-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.search-results .print-site-button:hover {
  transform: scale(1.1); /* Scale the button by 10% when hovered */
}

.search-form {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align items with space between them */
  background-color:#d7d7d750;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: 1px solid #9c9c9c; /* Add a 1px solid border around each result */
  width: 50vw;
}

.search-button{
  border: none;
  background-color: #327e2d80;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 50vw;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

